.file_show
	%h1= @doc.title
	%p= @doc.content
	%hr

= link_to "All Docs", docs_path, id: "docs_btn"
= link_to "Edit", edit_doc_path(@doc), id: "docs_edit_btn"
= link_to "Delete", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" }, id: "docs_delete_btn"